$header-and-body_outline: #0f4c75;
$header_text: #0d7377;
$header_background-color: #1a6e72;
$background-color: #00b7c2;
$req_background-outline: #e94560;
$text_color: #180f0f;

.about_page {
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px 0px;
}

.aboutTitle, .whyTitle, .policyTitle, .guestVSuserTitle, .special-featuresTitle{
    width: 45%;
    height: 50px;
    line-height: 50px;
    background-color: $header_background-color;
    text-align: center;
    margin-left: 55px;
    margin-bottom: -40px;
    
}

.aboutTitle_paragraph, .why_paragraph, .policy_paragraph, .gVSu_paragraph, .sf_paragraph{
    text-align: left;
    text-decoration:none;
    font-size: 15px;
    font-weight: normal;
    font-weight: 5px;
    padding: 10px;
    list-style: none;
    float: bottom;
    width: 45%;
    height: auto;
    color: $text_color;
    margin: 40px 40px 0px 55px;
    background-color: $background-color;
    box-sizing: border-box;
    border: 5px solid $header-and-body_outline;
}

.whyTitle {
    float: right;
    margin-top: -260px;
}

.why_paragraph {
    float: right;
    margin-top: -210px;
    margin-right: 0px;
}

.guestVSuserTitle {
    float: right;
    margin-top: -260px;
}

.gVSu_paragraph {
    float: right;
    margin-top: -210px;
    margin-right: 0px;
}

.special-featuresTitle {
    margin-top: 20px;
}

.aboutTitle_paragraph, .why_paragraph, .policy_paragraph, .gVSu_paragrap {
    height: 210px;
}

// Input.js styling below

.inputArea {
    width: 30%;
    height: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}