.header  {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
    bottom: 5px;
    border-radius: 15px;
    height: 80px;
    width: 100%;
    
}

.search-button {
    position:relative;
    right: 170px;
    top: 15px;
    width: 70px;
    height: 43px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 15px;
    background-color: #28df99; 
}

.searchBar {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position:relative;
    right: -12.3%;
    top: 15px;
    width:  250px;
    height: 40px;
    border: 1.5px solid;
    font-size: large;
    
}

.leaderboard, .trending, .topPosts, .categories, .authentication {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-decoration: none;
    color: #9ecaed;
    background-color: white;
    border-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 20px;
    position: relative;  
    right: -13.5%;
    top: 15px;
    font-size: 19px;
}

.leaderboard {
    width: 110px;   
}

.topPosts {
    width: 90px
}

.categories {
    width: 95px;
}

.authentication {
    width: 125px;
}

.project-Share {
    color: #9ecaed;  
    font-size: 30px;
    position: relative;
    top: 19px;
    left: 20px;
}

.post-content {
    border-radius: 8px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
    margin: 10px;
    padding: 15px;
    background-color: #eeeeee;
    margin-top: 25px;
    font-family: serif;
    text-decoration: none;
}

.post-title {
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

.post-category {
    font-size: 25px;
    margin-top: -60px;
    padding-left: 8px;
}

.post-author {
    font-size: 25px;
    margin-top: -60px;
    position: absolute;
    right: 50px;
}

.post-body {
    font-size: 20px;
    text-align: center;
}

.post-likes {
    font-size: 25px;
    margin-top: -60px;
    position: absolute;
    right: 50px;
}

.post-comment-button {
    font-size: 23px;
    margin-top: -20px;
    position: absolute;
    right: 40px;
}

.comment {
    border-radius: 8px;
}

.leaderboardList {
  padding: 60px;
  background: #0b8df8;
  color: #28df99;  
  border-radius: 30px;
  width: 200px;
  font-size: 30px;
  margin-left: 10px;
  justify-content: center;
}

.Lacc {
    font-size: 50px;
}

.leaderboardList:hover {
    color: #0b8df8;
    background: #28df99;
    font-size: 40px;
    width: 250px;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #20d300;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  right: 50%;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.category-list-item {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.category-title-page {
    text-align: center;
}

.comment-box {
    background-color: #0b8df8;
    border-radius: 8px;
    padding: 5px;
    margin-top: 15px;
}