.auth-out {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.auth-out div {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}

.auth-out div input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
}

.auth-out div textarea {
    padding: 10px;
    margin: 5px;
    height: 39px; width: 349px;
    font: arial; 
}

.auth-out div button {
    padding: 5px;
    background-color: #bce6eb;
    color: #222831;
    border-width: 1px;
    border-radius: 8px;
}

progress {
    position: relative;
    left: 25%;
}

.signup {
    background-color: #e8e8e8;
}

.login {
    background-color: #f3f3df;
}

.login button {
    margin-top: 20px;
}

.file {
    position: relative;
    left: 18%;
}

.vl {
    border-left: 6px solid #ffda77;
    height: 100vh;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 120px;
}