.dropdown {
  margin: 0 auto;
}
nav {
  height: 100px;
  background: rgb(81, 165, 161);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}
.logo {
  padding: 5px 0 0 80px;
  width: auto;
  height: auto;
  color: #a6f6f1;
  text-decoration: none;
  font-size: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
  float: right;
}
nav ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  color: #213e3b;
}
nav ul li a {
  display: block;
  margin: 5px;
  background: #a6f6f1;
  border-radius: 8px;
  text-decoration: none;
  line-height: 60px;
  padding: 5px;
  font-size: 18px;
  color: #213e3b;
}
nav ul li a:hover {
  background: #41aea9;
}
nav ul ul {
  position: absolute;
  top: 80px;
  display: none;
}
nav ul li:hover > ul {
  display: flex;
  background-color: #2acec5;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
  right: -10px;
}
nav ul ul li {
  width: 100px;
  float: none;
  display: list-item;
  position: relative;
  left: 10px;
  margin-top: 5px;
}
.handle {
  width: 120px;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  position: relative;
  left: 40%;
  bottom: 10px;
}
.searchBar {
  width: 200px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: #213e3b;
  font-size: 20px;;
}
.search-button {
  position: relative;
  bottom: 3px;
  height: 47px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #213e3b;
}